@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-1">
            <img width="70" height="70" alt="gym" src="~/Content/img/gym.png" />
        </div>
        <div class="col-md-2">
            <h1>Freed</h1>
        </div>
    </div>
</div>
